<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
</head>
<body th:align="center">
    <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <table th:align="center" th:border="0" th:width="400">
            <caption><h2>Редактирование пользователя</h2></caption>
            <tr>
                <th th:align="right" valign="top">Имя</th>
                <th th:align="left"><input type="text" th:field="*{name}" id="name"/>
                    <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </th>
            </tr>
            <tr>
                <th th:align="right" valign="top">Фамилия</th>
                <th th:align="left"><input type="text" th:field="*{surname}" id="surname"/>
                    <p style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
                </th>
            </tr>
            <tr>
                <th th:align="right" valign="top">Возраст</th>
                <th th:align="left"><input type="text" th:field="*{age}" id="age"/>
                    <p style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                </th>
            </tr>
            <tr>
                <th th:align="right" valign="top">Телефон</th>
                <th th:align="left"><input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
                    <p style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
                </th>
            </tr>
            <tr>
                <th th:align="right" valign="top">Email</th>
                <th th:align="left"><input type="text" th:field="*{email}" id="email"/>
                    <p style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </th>
            </tr>
            <tr>
                <th th:align="right" valign="top">UserName</th>
                <th th:align="left"><input type="text" th:field="*{userName}" id="userName"/>
                    <p style="color:red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
                </th>
            </tr>
            <tr>
                <th th:align="right" valign="top">Password</th>
                <th th:align="left"><input type="text" th:field="*{password}" id="password"/>
                    <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </th>
            </tr>
            <tr>
                <th th:align="right" valign="top">Role</th>
                <th th:align="left"><select th:size="2" multiple name="roles" id="roles">
                    <option selected="selected" value="1">ADMIN</option>
                    <option value="2">USER</option>
                </select>
                </th>
            </tr>
            <tr>
                <th th:colspan="2"><input type="submit" value="Редактировать"/></th>
            </tr>
        </table>
    </form>
</body>
</html>